{
  "branches": [
    {
      "name": "main",
      "channel": "latest"
    },
    {
      "name": "develop",
      "channel": "next"
    }
  ],
  "plugins": [
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerTags": ["latest", "{{version}}", "{{major}}-latest", "{{major}}.{{minor}}"],
        "dockerImage": "whatsplaying",
        "dockerFile": "Dockerfile",
        "dockerRegistry": "ghcr.io",
        "dockerRegistryUser": "${secrets.GHCR_PAT}",
        "dockerRegistryPassword": "${github.actor}",
        "dockerBuildFlags": {
          "pull": null,
          "target": "release"
        },
        "dockerArgs": {
          "RELEASE_DATE": new Date().toISOString(),
          "RELEASE_VERSION": "{{next.version}}",
          "DOCKER_REGISTRY_PASSWORD": "${{ secrets.GHCR_PAT }}",
          "DOCKER_REGISTRY_USERNAME": "${{ github.actor }}",
        }
      }
    ]
  ]
}
